html, body {
    margin: 0;
}

.main {
    font-size: 16px;
    width: 400px;
    background: #ccc;
    padding: 20px;
    transition: background-color 300ms;
}

.main.done{
    background: forestgreen;
}

.main.error{
    background: darkred;
}

.main input {
    padding: 5px;
    font-size: 16px;
    width: 100%;

    box-sizing: border-box;
}

.row {
    margin: 5px 0;
}

.btn-area {
    height: 20px;
}

.btn-save {
    font-size: 20px;
    padding: 5px 10px;
}

.btn-clean {
    float: right;
    font-size: 20px;
    padding: 5px 10px;
}